<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug</key>
	<true/>
	<key>floatingCarDataFile</key>
	<string>work/fcdout.xml</string>
	<key>stopTime</key>
	<integer>60</integer>
	<key>gis</key>
	<dict>
		<key>host</key>
		<string>10.0.0.10</string>
		<key>port</key>
		<integer>5432</integer>
		<key>database</key>
		<string>gisdb</string>
		<key>user</key>
		<string>root</string>
		<key>password</key>
		<string>UEgmzMx3mb6dCN</string>
	</dict>
</dict>
</plist>
