<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>floatingCarDataFile</key>
	<string>work/fcdout.xml</string>
	<key>stopTime</key>
	<integer>120</integer>
	<key>innerBounds</key>
	<dict>
		<key>x</key>
		<dict>
			<key>min</key>
			<real>-8.6227</real>
			<key>max</key>
			<real>-8.609400000000001</real>
		</dict>
		<key>y</key>
		<dict>
			<key>min</key>
			<real>41.1598</real>
			<key>max</key>
			<real>41.1679</real>
		</dict>
	</dict>
	<key>stats</key>
	<dict>
		<key>statsFolder</key>
		<string>stats/</string>
		<key>collectionInterval</key>
		<real>1</real>
		<key>collectionStartTime</key>
		<integer>5</integer>
		<key>hooks</key>
		<dict>
			<key>activeVehicleCount</key>
			<true/>
			<key>activeRoadsideUnitCount</key>
			<true/>
			<key>beaconCounts</key>
			<true/>
			<key>cityCoverageMapEvolution</key>
			<false/>
			<key>finalCityCoverageMap</key>
			<false/>
			<key>finalRoadsideUnitCoverageMaps</key>
			<true/>
		</dict>
	</dict>
	<key>gis</key>
	<dict>
		<key>host</key>
		<string>10.0.0.10</string>
		<key>port</key>
		<integer>5432</integer>
		<key>database</key>
		<string>gisdb</string>
		<key>user</key>
		<string>root</string>
		<key>password</key>
		<string>UEgmzMx3mb6dCN</string>
	</dict>
	<key>debug</key>
	<dict>
		<key>main()</key>
		<true/>
		<key>main().events</key>
		<false/>
		<key>EventList.add()</key>
		<false/>
		<key>EventList.scheduleMobilityEvents()</key>
		<false/>
		<key>City.determineBounds()</key>
		<true/>
		<key>City.addNewVehicle()</key>
		<false/>
		<key>City.addNewRSU()</key>
		<false/>
		<key>City.updateVehicleLocation()</key>
		<false/>
		<key>City.removeVehicle()</key>
		<false/>
		<key>City.convertEntity()</key>
		<false/>
		<key>RoadsideUnit.receive()</key>
		<false/>
		<key>RoadsideUnit.trackSignalStrength()</key>
		<false/>
	</dict>
</dict>
</plist>
