<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>floatingCarDataFile</key>
	<string>work/fcdout.tsv</string>
	<key>stopTime</key>
	<integer>28800</integer>
	<key>rsuLifetime</key>
	<integer>0</integer>
	<key>locationSRID</key>
	<integer>27492</integer>
	<key>useHaversine</key>
	<true/>
	<key>dataFlushInterval</key>
	<integer>120</integer>
	<key>innerBounds</key>
	<dict>
		<key>x</key>
		<dict>
			<key>max</key>
			<real>-8.609400000000001</real>
			<key>min</key>
			<real>-8.6227</real>
		</dict>
		<key>y</key>
		<dict>
			<key>max</key>
			<real>41.1679</real>
			<key>min</key>
			<real>41.1598</real>
		</dict>
	</dict>
	<key>stats</key>
	<dict>
		<key>collectionInterval</key>
		<real>1</real>
		<key>collectionStartTime</key>
		<integer>5</integer>
		<key>obstructionMaskFile</key>
		<string>obstructionMask.payload</string>
		<key>statsFolder</key>
		<string>stats/</string>
		<key>hooks</key>
		<dict>
			<key>entityCount</key>
			<true/>
			<key>beaconCount</key>
			<false/>
			<key>cityCoverageEvolution</key>
			<true/>
			<key>signalAndSaturationEvolution</key>
			<false/>
			<key>cityCoverageMapEvolution</key>
			<false/>
			<key>decisionWPM</key>
			<true/>
			<key>movingAverageWPM</key>
			<true/>
			<key>decisionCCE</key>
			<false/>
			<key>decisionDetailCCE</key>
			<false/>
			<key>finalCityCoverageMap</key>
			<true/>
			<key>finalCityCoverageStats</key>
			<true/>
			<key>finalCityEntitiesMap</key>
			<true/>
			<key>finalCitySaturationMap</key>
			<true/>
			<key>finalCitySaturationStats</key>
			<true/>
			<key>finalRoadsideUnitCoverageMaps</key>
			<false/>
			<key>parkedRoadsideUnitLifetime</key>
			<true/>
			<key>obstructionMask</key>
			<false/>
			<key>packetTrace</key>
			<false/>
			<key>simulationTime</key>
			<true/>
		</dict>
	</dict>
	<key>decision</key>
	<dict>
		<key>triggerDelay</key>
		<integer>50</integer>
		<key>algorithm</key>
		<dict>
			<key>inUse</key>
			<string>WeightedProductModel</string>
			<key>WeightedProductModel</key>
			<dict>
				<key>wsig</key>
				<integer>1</integer>
				<key>wsat</key>
				<integer>1</integer>
				<key>wcov</key>
				<integer>1</integer>
				<key>wbat</key>
				<integer>1</integer>
				<key>minRedundancy</key>
				<integer>2</integer>
				<key>mapRequestDepth</key>
				<integer>2</integer>
				<key>disableThreshold</key>
				<real>0.1</real>
			</dict>
			<key>CellCoverageEffects</key>
			<dict>
				<key>kappa</key>
				<real>1</real>
				<key>lambda</key>
				<real>1</real>
				<key>mu</key>
				<real>1</real>
				<key>mapRequestReach</key>
				<string>1hop</string>
				<key>saturationThreshold</key>
				<integer>2</integer>
			</dict>
		</dict>
	</dict>
	<key>gis</key>
	<dict>
		<key>database</key>
		<string>gisdb</string>
		<key>host</key>
		<string>10.0.0.10</string>
		<key>password</key>
		<string>UEgmzMx3mb6dCN</string>
		<key>port</key>
		<integer>5432</integer>
		<key>user</key>
		<string>root</string>
	</dict>
	<key>debug</key>
	<dict>
		<key>WeightedProductModel.decide()</key>
		<true/>
		<key>WeightedProductModel.analyzeCombination() - 2</key>
		<true/>
		<key>CellCoverageEffects.decide()</key>
		<false/>
		<key>City.addNew(parkedCar)</key>
		<false/>
		<key>City.addNew(roadsideUnit)</key>
		<false/>
		<key>City.addNew(vehicle)</key>
		<false/>
		<key>City.convertEntity()</key>
		<false/>
		<key>City.determineBounds()</key>
		<false/>
		<key>City.removeEntity()</key>
		<false/>
		<key>City.updateLocation()</key>
		<false/>
		<key>EventList.add()</key>
		<false/>
		<key>EventList.scheduleMobilityEvents()</key>
		<false/>
		<key>FixedRoadEntity.trackSignalStrength()</key>
		<false/>
		<key>RoadEntity.receive()</key>
		<false/>
		<key>main().events</key>
		<false/>
	</dict>
	<key>tools</key>
	<dict>
		<key>buildObstructionMask</key>
		<false/>
	</dict>
</dict>
</plist>
